/* Place your CSS styles in this file */

body {
    background-color: black;
}


/* headings */

h1 {
    text-align: center;
    font-family: "Consolas", sans-serif;
    font-weight: bold;
    background-color: rgb(44, 44, 44);
    color:#ffffff;
}

h3 {
    text-align: center;
    font-family: "Consolas", sans-serif;
    font-weight: normal;
    font-style: italic;
    color: hsl(0, 0%, 79%);
    position: relative;
    top: -20px;
	font-size: 200%;
}


/* top naviagtion menu

.topnav {
    background-color: rgb(44, 44, 44);
    overflow: hidden;
    text-align: center;
    display: table;
    margin: 0 auto;
}
.topnav a {
  text-align: center;
  float: left;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* games icons */

.games {
	background-color: rgb(44, 44, 44);
    overflow: hidden;
    text-align: center;
    display: table;
    margin-left: auto;
	margin-right: auto;
}
.games a {
	text-align: center;
	float: left;
	color: #ffffff;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	margin-left: auto;
	margin-right: auto;
}
.games a:hover {
	background-color: #ddd;
	color: black;
}

/* about section */

p {
	color: #ffffff;
	background-color: rgb(44, 44, 44);
	text-align: center;
}

.contacts {
	background-color: rgb(44, 44, 44);
    overflow: hidden;
    text-align: center;
    display: table;
    margin-left: auto;
	margin-right: auto;
}
.contacts a {
	text-align: center;
	float: left;
	color: #ffffff;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.contacts a:hover {
	background-color: #ddd;
	color: black;
}
